<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="11500"
    android:versionName="13.2.0"
    android:compileSdkVersion="23"
    android:compileSdkVersionCodename="6.0-2438415"
    package="il.org.mda.health"
    platformBuildVersionCode="23"
    platformBuildVersionName="6.0-2438415">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="33"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <permission
        android:name="il.org.mda.health.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="il.org.mda.health.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name_ih"
        android:icon="@mipmap/ic_launcher_ih22"
        android:name="com.groboot.mdaemergency.MdaEmergencyApplication"
        android:allowClearUserData="true"
        android:allowBackup="true"
        android:vmSafeMode="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="com.groboot.mdaemergency.alwaysOn.AlwaysInActivity"/>
        <activity
            android:theme="@style/Theme.Light"
            android:name="com.groboot.mdaemergency.app_authorization.ConfigurationAuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.Light"
            android:name="com.groboot.mdaemergency.ui.LockPatternActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/Theme.Light"
            android:name="com.groboot.mdaemergency.ui.activities.ZebraPrinterActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/Theme.Light"
            android:name="com.groboot.mdaemergency.ui.TestLogActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.groboot.mdaemergency.ui.main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.groboot.mdaemergency.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.groboot.mdaemergency.ui.main.RegistrationActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.groboot.mdaemergency.ui.main.HelpActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.groboot.mdaemergency.ui.VideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/title_activity_tabbed"
            android:name="com.groboot.mdaemergency.ptt.TabbedActivity"/>
        <activity android:name="com.groboot.mdaemergency.ui.activities.OpenCameraActivity"/>
        <activity
            android:name="com.groboot.mdaemergency.ui.widget.PTTUserWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_permission"
            android:name="com.groboot.mdaemergency.ui.activities.PermissionActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.groboot.mdaemergency.ui.activities.BlackActivity"/>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false"/>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>
        <receiver
            android:name="com.groboot.mdaemergency.async.CallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.groboot.mdaemergency.async.UninstallIntentReceiver"
            android:exported="true">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.QUERY_PACKAGE_RESTART"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.groboot.mdaemergency.async.ScreenOn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.groboot.mdaemergency.alwaysOn_Old.receivers.ScreenReceiver"/>
        <receiver android:name="com.groboot.mdaemergency.alwaysOn_Old.receivers.UnlockReceiver"/>
        <receiver
            android:name="com.groboot.mdaemergency.async.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.groboot.mdaemergency.async.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.groboot.mdaemergency.locations.geofencing.GeofencingBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="locations.GoogleApiClient.GeofencingBroadcastReceiver.ACTION_PROCESS_UPDATES"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.groboot.mdaemergency.ScreenOnOffReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.actiSharedPreferenceson.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.groboot.mdaemergency.locations.SchedulingLocationsService"/>
        <receiver
            android:name="com.groboot.mdaemergency.locations.transition.TransitionRecognitionReceiver"
            android:permission="com.google.android.gms.permission.ACTIVITY_RECOGNITION"
            android:exported="false">
            <intent-filter>
                <action android:name="es.jarroyo.transitionrecognitionapp.TRANSITION_RECOGNITION"/>
            </intent-filter>
        </receiver>
        <receiver
            android:label="@string/ptt_user_widget"
            android:name="com.groboot.mdaemergency.ui.widget.PTTUserWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pttuser_widget_info"/>
        </receiver>
        <service
            android:theme="@style/Theme.Transparent"
            android:name="com.groboot.mdaemergency.AlwaysOnService"
            android:enabled="true"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"/>
        <service
            android:name="com.groboot.mdaemergency.locations.geofencing.GeofenceService"
            android:foregroundServiceType="location"/>
        <service
            android:name="com.groboot.mdaemergency.locations.SchedulingLocationsService"
            android:foregroundServiceType="location"/>
        <service android:name="com.groboot.mdaemergency.services.OpenSocketService"/>
        <service android:name="com.groboot.mdaemergency.services.KeepAliveService"/>
        <service
            android:name="com.groboot.mdaemergency.fcm.FCMNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.groboot.mdaemergency.alwaysOn_Old.services.AlwaysOnOldMainService"/>
        <service
            android:name="com.groboot.mdaemergency.ptt.PTTService"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTop"/>
        <service
            android:name="com.groboot.mdaemergency.ptt.PttFloatingWindow"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.groboot.mdaemergency.async.FloatViewService"
            android:exported="false"/>
        <service
            android:name="com.groboot.mdaemergency.services.PttFloatDialogViewService"
            android:exported="false"/>
        <service android:name="com.groboot.mdaemergency.services.MessageFloatViewService"/>
        <service android:name="com.groboot.mdaemergency.services.IncidentFloatViewService"/>
        <service
            android:name="com.groboot.mdaemergency.services.FileDownloaderService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.groboot.mdaemergency.services.GoogleTokenService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.groboot.mdaemergency.geolock.GeolocationService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="il.org.mda.health.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="il.org.mda.health.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <service
            android:name="il.org.mda.ptt.sdk_mada_android.FirebaseReactorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="il.org.mda.ptt.sdk_mada_android.FirebaseInstanceService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1"/>
    </application>
</manifest>
